<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%thread] %level %logger - %msg%n%xException</pattern>
    </encoder>
  </appender>

  <!-- Uninteresting/spammy logs -->
  <!--
  [Thread-1] INFO  org.ops4j.pax.swissbox.tinybundles.core.metadata.RawBuilder - Copy thread finished.
  -->
  <logger name="org.ops4j.pax.swissbox.tinybundles.core.metadata.RawBuilder" level="ERROR" />

  <!--
  [main] INFO  org.apache.camel.core.osgi.impl.Activator - Camel activator starting
  [main] INFO  org.apache.camel.core.osgi.impl.Activator - Camel activator started
  -->
  <logger name="org.apache.camel.core.osgi.impl.Activator" level="ERROR" />

  <!--
	[Blueprint Extender: 3] INFO  org.apache.camel.blueprint.BlueprintCamelStateService - Karaf BundleStateService not accessible. Bundle state won't reflect Camel context state
  -->
  <logger name="org.apache.camel.blueprint.BlueprintCamelStateService" level="ERROR" />

  <!--
	[main] INFO  org.apache.camel.main.DefaultRoutesCollector - No additional Camel XML routes discovered from: classpath:camel/*.xml
	[main] INFO  org.apache.camel.main.DefaultRoutesCollector - No additional Camel XML rests discovered from: classpath:camel-rest/*.xml
  -->
  <logger name="org.apache.camel.main.DefaultRoutesCollector" level="ERROR" />

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
